@layer theme, base, components, utilities;

@import 'tailwindcss/theme.css' layer(theme);

@import 'tailwindcss/utilities.css' layer(utilities);
@import './admin-makeup.scss';

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo-light,
.favicon-light {
  display: block;
}

.logo-dark,
.favicon-dark {
  display: none;
}

[data-theme='dark'] .logo-light,
[data-theme='dark'] .favicon-light {
  display: none;
}

[data-theme='dark'] .logo-dark,
[data-theme='dark'] .favicon-dark {
  display: block;
}

.status__value {
  color: var(--color-success-500);
}

.status[title*='Draft'] .status__value,
.status[title*='Kladde'] .status__value {
  color: #d8000c;
}

.status[title*='Changed'] .status__value,
.status[title*='Ændret'] .status__value {
  color: #ef8500;
}

.status[title*='Published'] .status__value,
.status[title*='Offentliggjort'] .status__value {
  color: var(--color-success-500);
}

.widget .pill-selector {
  padding: 0;
}
