



# use this for .env copy and paste the following
DATABASE_URI=file:./hackerthon-kollab-website.db
PAYLOAD_SECRET=86730cfcabf26a7275055499
NEXT_PUBLIC_SERVER_URL=http://localhost:3000
CRON_SECRET=YOUR_CRON_SECRET_HERE
PREVIEW_SECRET=YOUR_SECRET_HERE
