# This is an example .env file for the Kollab Website Template.
DATABASE_URI=postgres://postgres:supersecret@postgres:5432/kollab-website-template
PAYLOAD_SECRET=86730cfcabf26a7275055499
NEXT_PUBLIC_SERVER_URL=http://localhost:8890
CRON_SECRET=YOUR_CRON_SECRET_HERE
PREVIEW_SECRET=YOUR_SECRET_HERE

# PostgreSQL configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=supersecret
POSTGRES_DB=kollab-website-template

ADMIN_EMAIL=admin@kollab.dk
ADMIN_PASSWORD=admin123