build
dist / media
node_modules
.DS_Store
.env
.next
.vercel
.db
/public/media
/public/assets
# Payload default media upload directory

public/robots.txt
public/sitemap*.xml

# pnpm
.pnpm-store
node_modules/