@import 'tailwindcss';

@config '../../../tailwind.config.mjs';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  :root {
    --primary: #09090d;
    --secondary: #1f2344;
    --blue: #c4f5fa;
    --dark-purple: #35296b;
    --light-purple: #bca4ea;
    --orange: #fb823b;
    --yellow: #fcf1c3;
    --peach: #f8d4a2;
    --teal: #e5fcfb;
    --background: #ffffff;
    --gray: #d9d9d9;
    --beige: #f5efe1;
  }

  [data-theme='dark'] {
    --primary: #e8e8e8;
    --secondary: #1f2344;
    --dark-purple: #35296b;
    --light-purple: #bca4ea;
    --orange: #fb823b;
    --yellow: #fcf1c3;
    --peach: #f8d4a2;
    --teal: #e5fcfb;
    --background: #09090d;
    --gray: #d9d9d9;
    --beige: #f5efe1;
  }
}

@layer base {
  body {
    @apply bg-background text-primary min-h-screen flex flex-col;
  }
}

.hero-rich-text h1 {
  @apply text-display border-b-8 border-primary pb-2 max-w-min;
}

html {
  opacity: 0;
}

html[data-theme='dark'],
html[data-theme='light'] {
  opacity: initial;
}
