@use 'tailwindcss' as *;
@config '../../../tailwind.config.mjs';

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

/* Theme variables are now dynamically generated in layout.tsx */

@layer base {
  body {
    @apply bg-base text-primary min-h-screen flex flex-col;
  }
}

@layer base {
  body {
    @apply bg-base text-primary min-h-screen flex flex-col;
  }
}

.hero-rich-text {
  h1 {
    @apply text-h1 lg:text-display max-w-min;
  }
}

html {
  opacity: 0;
}
html[data-theme='dark'],
html[data-theme='light'] {
  opacity: initial;
}

.two-background-spacing {
  border-radius: 0.8rem;
  .content-block {
    padding: 1.5rem;
  }
  .two-column-right {
    .media-block {
      border-radius: 0 0.8rem 0.8rem 0;
    }
  }
  .two-column-left {
    .media-block {
      border-radius: 0.8rem 0 0 0.8rem;
    }
  }
}
