@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #09090d;
    --secondary: #1f2344;
    --blue: #c4f5fa;
    --dark-purple: #35296b;
    --light-purple: #bca4ea;
    --orange: #fb823b;
    --yellow: #fcf1c3;
    --peach: #f8d4a2;
    --teal: #e5fcfb;
    --background: #ffffff;
    --gray: #d9d9d9;
    --beige: #f5efe1;
  }

  [data-theme='dark'] {
    --primary: #ffffff;
    --secondary: #1f2344;
    --dark-purple: #35296b;
    --light-purple: #bca4ea;
    --orange: #fb823b;
    --yellow: #fcf1c3;
    --peach: #f8d4a2;
    --teal: #e5fcfb;
    --background: #09090d;
    --gray: #d9d9d9;
    --beige: #f5efe1;
  }
}

@layer base {
  body {
    @apply bg-background text-primary min-h-[100vh] flex flex-col;
  }
}

html {
  opacity: 0;
}

html[data-theme='dark'],
html[data-theme='light'] {
  opacity: initial;
}
